@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", sans-serif;
  
  --color-brand-bg: #FACC15;
  --color-brand-ink: #000000;
  --color-brand-accent: #FFFFFF;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-ink font-sans;
  }
}
